.mtu-intro-foto {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: 1px;
  border-radius: 50%;
  text-align: center;
  background-image: url("https://i1.wp.com/lechatmagazine.com/wp-content/uploads/2020/05/tiktok-egirl-portada.jpg?fit=1013%2C757&ssl=1");
}

.mtu-intro-name {
  color: #9565c5;
  font-size: 50px;
}

.mtu-intro-description {
  background-color: white;
  width: auto;
  height: auto;
  padding: 10px 40px 10px 40px;
  border-radius: 8px;
}

.mtu-intro-icon > img {
  width: 30px;
  height: 30px;
}

.mtu-intro-icon > span {
  margin-left: 10px;
}

.mtu-intro-icon {
  color: #9565c5 !important;
}
