@import _colors

.navbar-brand
  color: $gray !important

.mtu-navbar
  background-color: white
  border-bottom: 1px solid $semi_gray

a.mtu-nav-btn
  text-decoration-thickness: 2px
  color: $gray !important
  border-radius: 15px
  padding-top: 8px
  padding-bottom: 8px
  padding-left: 20px
  padding-right: 20px
  &:hover
    background: rgba(200, 200, 200, 0.15)
