@font-face {
  font-family: "Rubik";
  src: url(fonts/Rubik/Rubik-VariableFont_wght.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Rubik" !important;
  font-weight: 600;
  padding-top: 70px;
  background-color: rgb(230, 230, 230) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration-thickness: 2px !important;
  color: #212529 !important;
}
