@font-face {
  font-family: "Rubik";
  src: url(fonts/Rubik/Rubik-VariableFont_wght.ttf) format("truetype");
}

* {
  font-family: "Rubik";
}

body {
  margin: 0;
  font-family: "Rubik";
  padding-top: 57px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #212529 !important;
}

a > span {
  display: inline-block;
  line-height: 0.85em;
  padding-bottom: 0px;
  text-decoration: none;
}

a:hover > span {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

a > strong {
  display: inline-block;
  line-height: 0.85em;
  padding-bottom: 0px;
  text-decoration: none;
}

a:hover > strong {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
